<!DOCTYPE html>
<html>
<head>
    <title>Amrita Lost & Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
</head>
<body>

<div class="center-box">
    <div class="card">

        <img src="{{ url_for('static', filename='images/amrita_logo.jpg') }}" class="logo">

        <h1>Amrita Lost & Found</h1>
        <p>Reuniting you with your belongings</p>

        <br>

        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn btn-outline">Register</a>

    </div>
</div>

</body>
</html>
