<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
</head>
<body>

{% include "navbar.html" %}
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

<div class="center-box">
    <div class="card">

        <h1 class="page-title" style="color:#1f9d55;">Success</h1>

        <p class="info-text" style="margin-top:15px;">
            {{ message }}
        </p>

        <div class="form-actions" style="margin-top:30px;">
            {% if session.get("role") == "admin" %}
                <a href="/admin" class="btn">Back to Dashboard</a>
            {% else %}
                <a href="/student" class="btn">Back to Dashboard</a>
            {% endif %}
        </div>

    </div>
</div>

</body>
</html>
