<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
</head>
<body>

{% include "navbar.html" %}
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

<h1 class="page-title">Verify OTP</h1>

<div class="form-wrapper">
    <form method="post">
        <input type="text" name="otp" placeholder="Enter OTP" required>

        {% if error %}
            <p class="info-text" style="color:#AF0C3E;">{{ error }}</p>
        {% endif %}

        <div class="form-actions">
            <button class="btn" type="submit">Verify OTP</button>
        </div>
    </form>
</div>


</body>
</html>
